#contact-h1 {
  margin: 7vh auto 7vh;
  background-color: white;
  height: 70px;
  width: 100vw;
  text-align: center;
  font-size: 3rem;
}
 #contact-page svg {
  margin: 10px auto 15px;
}
 #contact-page {
  width: 100vw;
  padding: auto;
  margin-bottom: 50px;
  background-color: white;
}
 #contact-body {
  background-color: white;
  margin-bottom: 15vh;
}
 /* FÜR GROßE BILDSCHIRME WIE LAPTOP ODER DESKTOP */
@media screen and (min-width: 768px) {
  #contact-page {
    padding: auto;
    width: 32vw;
    margin: auto -3vw;
  }
  #contact-h1 {
    margin: 7vh auto 7vh;
    background-color: transparent;
    height: 70px;
    width: 100vw;
    text-align: center;
    font-size: 3rem;
    margin-left: -33vw;
  }
}