#about-text{
    width:90vw;
    margin:4%;
    margin-top: 70px;
    text-align: justify;
    line-height: 2;
    background-color: white;
    margin-top:15vh;

}
#about-page svg{

    height:100px;
    width:100px;
       

}
img{
    width:100%;
    margin: auto;
}

#contact-page svg{
    margin: 10px auto;
    margin-bottom:15px;
}

#contact-page{
    background-color: white;
}