#about-text{
    width:90vw;
    margin:4%;
    margin-top: 70px;
    text-align: justify;
    line-height: 2;
    background-color: white;
    margin-top:15vh;
}



#icon-flexbox{
  margin-top: -20vh;
  margin-bottom:10vh;
}
#projects-h1{
  margin-left: -15vw;
}
#about-page svg{
    height:100px;
    width:100px;
}
#about-page img{
    width:100vw;
    height:80%;
    margin: auto;
    margin-right: 30vw;
}

#more {
    margin:auto;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease-in 1 forwards;
    animation-delay: 1s;
    margin-left: 48vw;

  }

  .text-values{
    margin-top: 15vh;
    font-size: 3rem;
  }


  .box-values{
    border:1px solid black;
    border-left:0px;
    border-right:0px;
    margin:auto;
    width:99.5vw;
    margin-left:0vw;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }

  .box-values svg{
    margin:auto ;
  }

  .box-values-header h1{
    font-size: 2em;
    margin-bottom: 15px;
    background-color: yellow;
    padding:2vh;
    border-bottom:1px solid black;

  }


  .box-values-header  svg{
    padding-top: 15px;
    background-color: yellow;
    height: 3rem;
    width:3rem;

  }
  .box-values-header{
    background-color: yellow;
  }

#contact-page svg{
    margin: 10px auto;
    margin-bottom:15px;
}

#contact-page{
    background-color: white;
    margin-right: 15vw;
}

.responsive{
  padding:20px;
  border-bottom:1px solid black;
}

.responsive svg{
  height:50px;
  width:50px;
  margin:40px auto;
  padding-left: -10px;
  padding-right: -10px;
}

#project-page svg{
    color: black;
    height:40px;
}
#hi {
    opacity: 0;
    animation: slideIn 1s ease-out 1 forwards;
    transform: translateX(-30%);
    margin:auto;
    margin-top: 20vh;
    margin-bottom:5vh;
    width:100vw;
    font-size: 4rem;
    margin-left: 0vw;
  }
  #container-home{
    height:350vh;
  }

  #spacer{
    height:30vh;
  }

  #box-hidden{
/*     border: 1px solid #F9f003;
    background-color: #f9f10389; */
    height:67vh;
    width:90%;
    margin-left: 0vw;
  }

  .span{
    font-weight: bold;
    font-size: 1.4rem;
  }
  #intro{
    font-size: 1rem;
    width:90vw;
    text-align: center;
    margin-top: 25px;
    margin-left: 5vw;
  }

  .tech-stack{


  }

  .tech-stack-container{
    margin: auto;
    margin-right:25vw ;
  }



  
  @keyframes slideIn {
    from {
      transform: translateX(-30%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

    
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  

@media screen and (min-width:768px) {

    #more {
    margin:auto;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease-in 1 forwards;
    animation-delay: 1s;
    }
    #spacer{
    height:35vh;
    }
    #hi {
    opacity: 0;
    animation: slideIn 1s ease-out 1 forwards;
    transform: translateX(-30%);
    width:100vw;
    margin-left: -15vw;
    font-size: 9em;
    margin-top: 25vh;
    margin-bottom:10vh;
    }
    #intro{
    font-size: 1.4rem;
    width:60vw;
    text-align: center;
    margin:auto;
    margin-top: 60px;

    }
    .span{
    font-weight: bold;
    font-size: 1.9rem;
    }
    #box-hidden{
/*  border: 1px solid #F9f003;
    background-color: #f9f10389; */
    height:60vh;
    width:107%;
    margin-left: -0vw;
    }
    #container-home{
    height: 100vh;      
    }
    h2{
    margin-top: 200px;
    }
}