.about-text{
    width:95vw;
    margin:4%;
    margin-top: 70px;
    text-align: justify;
    line-height: 1.8;
    background-color: white;
    margin-top:15vh;
    padding-right: 3%;
}

#contact-h1{
  margin:50px;
  margin-top: 7vh;
  margin-bottom: 7vh;
  width:100vw;
  margin-left:-0vw;
  background-color: white;
}
#about-h1{
  margin:50px;
  margin-top: 7vh;
  margin-left:-8vw;
  margin-bottom: 7vh;
  background-color: white;
}
#projects-h1{
  margin:50px;
  margin-top: 7vh;
  margin-left:-8vw;
  margin-bottom: 7vh;
  background-color: white;
}


#icon-flexbox{
  margin-top: -20vh;
  margin-bottom:10vh;
}

#about-page svg{
    height:100px;
    width:100px;
}
#about-page img{
    width:100vw;
    height:80%;
    margin: auto;
    margin-right: 30vw;
}

#more {
    margin:auto;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease-in 1 forwards;
    animation-delay: 1s;
    margin-left: 48vw;
    height:1.5rem;
    width:1.5rem;

  }

  .text-values3{
    margin-top: 15vh;
    font-size: 3rem;
    margin-left:-25vw;
    margin-bottom: 11vh;
    background-color: white;
  }
  .text-values{
    margin-top: 15vh;
    font-size: 3rem;
    margin-bottom: 11vh;
    margin-left:-18vw;
    background-color: white;
  }
  .text-values2{
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-size: 3rem;
    margin-left:-5vw;
    background-color: white;

  }


  .box-values{
    border-left:0px;
    border-right:0px;
    margin:auto;
    width:100vw;
    margin-left:0vw;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }

  .box-values svg{
    margin:auto ;
  }

  .box-values-header h1{
    font-size: 2em;
    margin-bottom: 15px;
    background-color: yellow;
    padding:2vh;

  }

  .box-values2-header h1{
    font-size: 2em;
    background-color: yellow;
    padding:2vh;
    margin-bottom: -20px;;

  }


  .box-values2-header  svg{
    padding-top: -15px;
    margin-bottom: 5vh;
    margin-top: 25px;
    background-color:white;
    border-radius: 30%;
    padding:10px;
    height: 5rem;
    width:5rem;
  }
  .box-values-header  svg{
    margin-top: 25px;
    background-color:white;
    border-radius: 30%;
    padding:10px;
    height: 4rem;
    width:4rem;

  }
  .box-values2-header{
    background-color: yellow;
    border:1px solid black;
    margin-bottom:11vh;
  }

  .box-values2-header p{
    margin-bottom: 10px;
    padding:auto;
  }

  .box-values-header{
    background-color: yellow;
    border:1px solid black;
  }
  

#contact-page svg{
    margin: 10px auto;
    margin-bottom:15px;
}

#contact-page{
    width:100vw;
    padding:auto;
}
#contact-body{
  background-color: white;
  margin-bottom: 5vh;
}

.responsive{
  padding:auto;
  margin:auto;
  border-bottom:1px solid black;
  background-color: white;

}

.responsive svg{
  height:60px;
  width:50px;
  margin:40px auto;
  padding-left: -10px;
  padding-right: -10px;
}

  #project-page svg{
      color: black;
      height:40px;
  }

  #project-page{
    width:120vw;
    padding:auto;
    margin-bottom: 9vh;
  }
  #hi{
    opacity: 0;
    animation: slideIn 1s ease-out 1 forwards;
    transform: translateX(-30%);
    margin-top: 15vh;
    margin-bottom:5vh;
    line-height: 4.5rem;
    width:100vw;
    font-size: 4rem;
    background-color: white;
  }

  #spacer{
    height:30vh;
  }

  #box-hidden{
    height:67vh;
    width:90%;
    margin-left: 0vw;
  }

  .span{
    font-weight: bold;
    font-size: 1.4rem;
  }

  span{
    font-weight: bold;
    font-size: 1.4rem;
    border-bottom: 5px solid yellow;
  }

  #intro{
    font-size: 1rem;
    width:100vw;
    text-align: center;
  }
  .tech-stack-container{
    margin: auto;
    margin-right:25vw ;
  }

  
  @keyframes slideIn {
    from {
      transform: translateX(-30%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

    
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@media screen and (min-width:768px) {

    #more {
    margin:auto;
    }
    #spacer{
    height:35vh;
    }
    #hi {
    font-size: 9em;
    margin-left: -17vw;
    margin-top: 25vh;
    margin-bottom:10vh;
    }
    #intro{
    font-size: 1.4rem;
    width:60vw;
    margin:auto;
    margin-top: 60px;
    margin-left:4vw;

    }
    .span{
    font-weight: bold;
    font-size: 1.9rem;
    }
    #box-hidden{
    height:60vh;
    width:107%;
    margin-left: -0vw;
    }
    h2{
    margin-top: 200px;
    }

}