#project-page svg{
    color: black;
    height:40px;
}

#project-page{
  width:100vw;
  background-color: white;
}

#projects-h1{
    width:100vw;
    background-color: white;
    height:50px;
    margin: 80px auto;
  }

  @media screen and (min-width:768px) {

    #project-page{
      width:72vw;
      margin:0px;
      margin-left: -3vw;
      background-color: white;  
    }
    #projects-h1{
        margin: 7vh 50px 7vh -5vw;
        background-color: white;
        height:70px;
        width:100vw;
      }
}
  