#project-page svg {
  color: black;
  height: 40px;
}

#project-page {
  width: 100vw;
  margin-bottom: 50px;
  background-color: white;
}

#projects-h1 {
  width: 100vw;
  background-color: white;
  height: 50px;
  margin: 80px auto;
}

/* FOR BIG SCREENS LIKE LAPTOP OR DESKTOPS
 */
@media screen and (min-width: 768px) {
  #project-page {
    width: 77vw;
    margin: 0px;
    margin-left: -3vw;
    margin-bottom: 5vh;
    background-color: white;
  }
  #projects-h1 {
    margin: 7vh 50px 7vh -38vw;
    background-color: transparent;
    height: 70px;
    width: 100vw;
  }
}
