#external-links {
  background-color: #f9f003;
  justify-content: space-evenly;
  height: 60px;
  width: 100vw;
}
#back-to-top {
  cursor: pointer;
  position: absolute;
  bottom: 15vw;
  right: 4vw;
}
#button {
  position: absolute;
  bottom: 0vw;
  left: -8vw;
}

#external-links svg {
  height: 40px;
  width: 32px;
  margin-top: 10px;
  margin-left: 0px;
}

#external-links svg:hover {
  cursor: pointer;
}
#footer-content #back-to-top {
  float: right;
  margin-right: 5%;
  margin-top: -10%;
}
#footer-content p {
  width: 100vw;
  text-align: center;
  color: black;
  margin-left: 60px;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 15px;
}

/* FOR BIG SCREENS LIKE LAPTOP OR DESKTOPS
 */
@media screen and (min-width: 768px) {
  #footer-content p {
    margin: auto;
    text-align: center;
    color: black;
    width: 70vw;
    margin-left: -30vw;
/*     border: 25px solid yellow;
    border-bottom: none; */
    font-size: 1rem;
    padding: 50px;
  }
  #back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 2vw;
    right: -0.3vw;
    font-size: 2rem;
  }
  #back-to-top-btn{
    font-size: 2rem;
    background-color: #f9f003;
    font-weight: 300;
    width:5vw;
    border:none;
  }
  #footer {
    width: 70vw;
    margin: auto;
  }
  #button {
    position: fixed;
    bottom: -2vh;
    left: -1vw;
  }
  #footer-content {
    display: flex;
    justify-content: space-evenly;
  }
  #external-links {
    background-color: #f9f003;
    margin-bottom: 3vh;
    margin-top: 10vh;
    width: 25vw;
    margin-left: 50vw;
  }

}
